.vscode/**
Test
Test.bak
serialeigvec.txt
output.txt
output_4lvl.txt
eigvec.txt
disteigvec.txt
serialoutput.txt
distoutput.txt
hpc*
Testbench
Testscale
report*
output*
*.out.*
cilk.txt
Test*
*.png
*.zip